@{
    ViewData["Title"] = "Benutzerverwaltung";
}

<div class="container">
    <p>
        Waehlen sie <a href="/user/login">Login</a> oder 
        <a href="user/registration"> Registration</a>
    </p>
</div>