
<div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user">Benutzerverwaltung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/data/index">Daten an view uebergeben</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/data/oneuser">ein user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/data/userlist">userliste</a>
        </li>
    </ul>
</div>