@model Web_App.Models.User
@{
    ViewData["Title"] = "Data";
}
<div class="container">
    <h3>einen User an die View uebergeben und anzeigen</h3>
    <ul>
        <li>@Model.id</li>
        <li>@Model.Name</li>
    </ul>
    
</div>